@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
a {
    text-decoration: none;
}


:root {
  --heading-color: #343434;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", sans-serif;
}
 body {
    font-family: "Poppins", sans-serif;
} 

.navbar {
    box-shadow: 0 -13px 73px 0 rgba(0 , 0, 0, .2);
}
.navbar-brand {
    font-family: "Montserrat", sans-serif;
    font-size: 18px !important;
    font-weight: 800 !important;
    letter-spacing: 1px;
    line-height:25.7143px;
letter-spacing:1px;

}


.navbar-nav .nav-link {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  transition: 0.5s;
}



.navbar-nav .nav-link.active::before {
      transition: all .5s;
      width: 45px;
}
.navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 2px;
    background-color: black;
    top: 27px;
    transition: all .5s;
}

/* ----------end---nav---------- */
.header {
    background-image: url(./imgs/bg.jpg);
    background-position: center;
    background-size: cover;
    background-position: 0px 0px;
    
}
.header .overlay {
    background-color: rgba(0, 0, 0, .65);
}

.header-caption h1 {
    font-size: 50px;
}
.header-caption span {
    font-size: 60px;
    font-weight: 200;
    line-height: 72px;
    font-family: "Montserrat", sans-serif;
}
.header-caption #element {

    font-weight: 400;
  
}


@media (max-width: 575.98px) { 
    .header-caption span {
        font-size: 30px;
    }



 }
.header-icons a {
    width: 35px;
    height: 35px ;
    border-radius: 50%;
    text-decoration: none;
}
/* ---------end--------header------ */
.img-hero:after {
    content: "";
    width: 80%;
    height: 80%;
    position: absolute;
    left: -28px;
    bottom: -30px;
  background-image: url(./imgs/dots.png);
    background-repeat: repeat;
    z-index: -1;
}
.img-hero img {
    width: 100%;
}


.about-info h3  {
    font-size: 30px;
    line-height: 33px;
    font-weight: 800;
    color: #343434;
}
.about-info >span {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color:  rgb(153, 153, 153) !important;
    letter-spacing: 2px;
}
.about-info p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Poppins", sans-serif;
Color:rgb(116, 129, 130);
} 
.about-info p>span{
    Color:rgb(116, 129, 130) !important; 
    letter-spacing: 0px;
}
  .about-btns .btn1 {
   background-color: #1C1C1C;
   text-decoration: none;
   padding: 11px 28px;
   font-family: "Poppins", sans-serif;
   font-size: 13px;
   font-weight: 400;
   line-height: 19px;
   letter-spacing: 0;
   transition: all .5s;
       border: 1px solid rgb(52, 52, 52);
  }
  .about-btns .btn1:hover {
    color: rgb(52, 52, 52) !important;
    background-color: transparent;

  }
  .about-btns .btn2 {
    background-color: transparent;
    color: rgb(52, 52, 52) !important;
    border: 1px solid rgb(52, 52, 52);
    text-decoration: none;
    padding: 11px 28px;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0;
    transition: all .5s;
   }
   .about-btns .btn2:hover {
    background-color: #1C1C1C;
    color: white !important;
   }

.progress-bar {
 background-color: #1C1C1C !important;  
}
.progress-bar > .big {
    font-family: "Montserrat", sans-serif;
    font-size: 13px; 
    font-weight: 14px;
    font-weight: 500;
}
/* ----------end------about------- */
.services {
    background-color: #F7F7F7;
}
.services h3 {
    font-family: "Montserrat", sans-serif;
    color: rgb(52, 52, 52);
    font-size: 40px;
    font-weight: 900;
    line-height: 44px;
    z-index: 3;
}
.services h3::before {
content: "";
background-image: url(./imgs/dots.png);
position: absolute;
width: 210px;
height: 20px;
top: 33px;
left: 50%;
transform: translatex(-50%);
z-index: -1;

}

.services-card {
    box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1);
}
.services .services-card span i {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #F7F7F7;
    transition: all .5s;
}
.services-card h6 {
    font-size: 18px;
    font-weight: 800;
    line-height: 20px;
    color: rgb(52, 52, 52);
}
.services-card p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    font-family: "Poppins", sans-serif;
Color:rgb(116, 129, 130);
}
.services-card:hover  i {
    background-color: black !important;
    color: white;
}
/* -----------end--services---- */
.portfolio .container h3 {
    font-size: 40px;
    font-weight: 900;
    line-height: 44px;
    color: rgb(52, 52, 52);
}
.portfolio .container h3::before {
    content: "";
    background-image: url(./imgs/dots.png);
    position: absolute;
    width: 210px;
    height: 20px;
    top: 33px;
    left: 50.5%;
    transform: translatex(-50%);
    z-index: -1;
    
    }
    

.nav-pills .nav-link {
    color: rgb(34, 34, 34) !important;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 23px;
    font-weight: 700;
    transition: 0.5s;
}
.nav-pills .nav-link::before {
       content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: black;
    top: 35px;
    transition: 0.5s;
} 
.nav-pills .nav-link.active {
background-color: transparent !important;
position: relative;
transition: all 0.5s;
}

.nav-pills .nav-link.active::before {
 width: 65%;

}
.layer {
   top: 6px !important; 
   bottom: 6px !important;  
   left: 6px !important; 
   right: 6px !important; 
opacity: 0;
transition:all .5s;
}
.layer .head {
transition: all .5s !important;
    top:37%;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 13px;
    letter-spacing: 1.5px;
    color: rgb(52, 52, 52) !important;
}

.layer .icons {
    transition: all .5s;
bottom: 35%;
}
.port-img:hover .layer  {
opacity: 1;
}
.port-img:hover:hover .head {
 top: 40%;
}
.port-img:hover .icons {
bottom: 39%;
}
.layer .icons i {
    width: 30px;
    height: 30px;
    border-radius: 50%;
transition: .5s;
}
.layer .icons i:hover {
    background-color: white !important;
    border: 1px solid black;
    color: black !important;
} 
/* --------------end-------portofoli---------- */

.test  {
    background-color: #F7F7F7 !important;
}

.test .container-fluid h3 {
    font-size: 40px;
    font-weight: 900;
    line-height: 44px;
    color: rgb(52, 52, 52);
    z-index: 2;
}
.test .container-fluid .head::before {
    content: "";
    background-image: url(./imgs/dots.png);
    position: absolute;
    width: 280px;
    height: 20px;
    top: 33px;
    left: 50.5%;
    transform: translatex(-50%);
    z-index: -1;
    
    }
.carousel-card img {
    width: 95px;
    height: 95px;
    border-radius: 50%;
}
.carousel-card p {
    font-family: "Poppins", sans-serif;
    font-size: 16px; 
    font-weight: 400;
    line-height: 24px;
    width: 79% !important;
Color: rgb(116, 129, 130);
}

.carousel-card h6 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: rgb(52, 52, 52);
}
.carousel-card span {
    font-family: "Poppins", sans-serif;
    font-size: 12px;  
    font-weight: 600;
    line-height: 17px;
    Color:rgb(136, 136, 136);
}
 .test .carousel-indicators [data-bs-target] {
    background-color: #869791 !important;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 11px;
    transition: all .3s ;
    
}
.carousel-indicators [data-bs-target]:hover {
   opacity: 1;
}

/* --------end--------test------ */


.statics .static-card i  {
    font-size: 30px;
    }
    
    .statics .static-card h3  {
        font-size: 30px;
        font-weight: 900;
       line-height: 33px;
       font-family: "Montserrat", sans-serif;
       color: rgb(52, 52, 52);
        }
  .statics .static-card p {
    margin-top: 8px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 15px;
        line-height: 24px;
        Color:rgb(116, 129, 130);

    }

    /* /----------end---static--------- */
    .team {
        background-color:  #f4f4f4;
    }    

    .team .container h3::before {
        content: "";
        background-image: url(./imgs/dots.png);
        position: absolute;
        width: 210px;
        height: 30px;
        top: 25px;
        left: 50.5%;
        transform: translatex(-50%);
        z-index: -1;
        
        }
        
  .team .container h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color: rgb(52, 52, 52);
    line-height: 44px;
    font-size: 40px;
    z-index: 2;
  }
    .team .card {
        border: none;
    }
    .card-body {
        background-color: #5B5B5B;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    .layer-team-icon {
       
        top: 5px!important;
        bottom: 5px !important ;
        left: 5px !important;
        right: 5px !important;
        inset: 5px;
        opacity: 0;
        transition: all  0.5s;
        transform: rotateY(180deg) scale(0.5, 0.5);
        z-index: 2;
    
    }
    .layer-team-icon i{
      
       width: 40px;
       height: 40px;
       border-radius: 50%;
     transition: all .2s;
    }
    .layer-team-icon a i:hover {
        border: 1px solid black !important;
        background-color: transparent !important;
        color: black !important;
    
    }
    .card-photo img {
        transition: .5s;
    }
    .card-photo:hover img {
    transform: scale(1.2);
    }
    
    .card:hover .layer-team-icon {
        transform: rotateY(360deg) scale(1, 1);
        opacity: .95;
    }

    .team .card-body h4 {
        font-size: 25px;
        line-height: 28px;
        font-weight: 500;
       color: white;
    }

     .team .card-body h5 {
        font-size: 20px;
        line-height: 22px;
        font-weight: 700;
       color: white;
     }

     /* ----end-----team------- */
   .contact .container h3 {
    font-size: 40px;
    line-height: 44px;
    font-weight: 900;
    color: rgb(52, 52, 52);
   }

   .contact .container h3::before {
    content: "";
    background-image: url(./imgs/dots.png);
    position: absolute;
    width: 240px;
    height: 30px;
    top: 25px;
    left: 50.5%;
    transform: translatex(-50%);
    z-index: -1;
    
    }
.contact-icons i {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  background-color:   #f4f4f4;
  font-size: 23px;
  margin-bottom: 15px;
  transition: all 0.5s;

}
.contact-icons:hover i {
    background-color: #1C1C1C;
    color: white;
}
.contact-icons h6 {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: rgb(52, 52, 52);
    letter-spacing: .5px;
}
.contact-icons p  {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color:  rgb(116, 129, 130);
}
.contact input ,
.contact textarea {
   
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    background: #f4f4f4;
}
.contact input:focus ,
.contact textarea {
    outline: none;
}
.contact textarea {
    height: 160px;
   
    max-width: 100%;
}
.contact .container button {
    font-family: "Poppins", sans-serif;
    padding: 10px 40px;
    background: #1c1c1c;
    color: #eee;
    border: 1px solid #1c1c1c;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    transition: all 0.5s;
}
.contact .container button:hover {
    background-color: transparent;
    color: #1c1c1c;
}

/* -----------end-----contact-- */
footer {
    background-color: #1C1C1C;
}
footer p {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    line-height: 21px;
    font-weight: 400;
    color: rgb(116, 129, 130);
   word-spacing: 1px;
}